.ArticleDetails {
  width: 100%;
  padding: 10px 0;
  background-color: #f1f4f9;
  main {
    width: 1200px;
    min-height: calc(100vh - 90px);
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    .articleSection {
      width: 960px;
      .articleText {
        padding: 0 40px;
        border-bottom: 1px solid #eaeef5;
        .articleName {
          margin: 37px 0 20px 0;
          color: #353535;
          font-size: 30px;
          font-weight: 500;
        }
        .metaBox {
          display: flex;
          div {
            margin-right: 34px;
            display: flex;
            align-items: center;
            .timeIcon {
              width: 18px;
              height: 16px;
              background: url("../../assets/img/icon/updata@2x.png") center /
                100% 100% no-repeat;
            }
            .lookIcon {
              width: 26px;
              height: 12px;
              background: url("../../assets/img/icon/read@2x.png") center / 100%
                100% no-repeat;
            }
            span {
              font-size: 14px;
              color: #939393;
              margin-left: 6px;
            }
          }
        }
      }
    }
    .navigation {
      width: 240px;
    }
    .catalog {
      padding: 0;
      margin: 0;
    }
  }
  .ZanArticle {
    .zan {
      display: flex;
      align-items: center;
      margin: 30px 0 20px 0;
      img {
        width: 44px;
        height: 44px;
        cursor: pointer;
      }
      span {
        font-size: 16px;
        color: #939393;
        margin-left: 10px;
      }
    }
    .sendBtn {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      background: #f7f4f8;
      border: 1px solid #e5e5e5;
      text-align: center;
      line-height: 40px;
      margin: 0 auto 20px;
      cursor: pointer;
      color: #b4b4b4;
      font-size: 16px;
    }
  }
  .sendComment {
  }
  .Comment {
    padding: 0 40px;
    .header {
      display: flex;
      align-items: center;
      padding: 30px 0 20px 0;
      .line {
        width: 4px;
        height: 19px;
        background: #ff666a;
        margin-right: 14px;
      }
      span {
        font-size: 18px;
        color: #353535;
        font-weight: 500;
      }
    }
  }
}
